.vs/
*.user
*.suo
*.pdb
*.ipdb
*.iobj
*.obj
*.idb
*.ilk
*.pch
*.res
*.rsp
*.tlog
*.lastbuildstate
*.recipe
*.VC.db
*.VC.VC.opendb

x64/
ARM64/
Win32/
Debug/
Release/

src/**/x64/
src/**/ARM64/
src/**/Win32/
src/**/Debug/
src/**/Release/

tests/out/
.bitfun/

# MkDocs 文档站构建输出
site/


docs/